.DS_Store
.idea/
*.swp
.env
.venv/
__pycache__/
*.py[cod]
frontend/dist/
frontend/node_modules/
npm-debug.log*
MSEE_Web_Application_and_Interface_Design_Cafe_Fausse_SRS.pdf
d6c57fa288e4bdb187319b735b90713a.pdf
